@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fantasy-background {
    background: url('img/bg.jpg');
    background-origin: border-box;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}